.p-dataview .p-dataview-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-left-width: 1px;
  border-right-width: 1px;
}

.p-dataview .p-dataview-content {
  border: solid #dee2e6;
  border-width: 0 1px 0 1px;
}

.p-dataview .p-paginator-bottom {
  border-width: 1px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  flex-direction: row;
}

.p-paginator .p-dropdown {
  margin-left: 0;
  justify-content: center;
  //margin-right: 0.5rem;
  //height: 2.357rem;
}
