.layout-sidebar {
  height: calc(100vh - $topBarHeight - $spacing - $spacing);
  top: $topBarHeight + $spacing;
  left: $spacing;
  width: $menuWidth;
}

.layout-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;

  ul {
    a {
      &.active-route {
        font-weight: 500;
        background-color: rgba(0, 0, 0, .05);
      }
    }
  }
}
