@media (min-width: 992px) {
  .layout-wrapper {
    &.layout-overlay {
      .layout-main-container {
    //    margin-left: 0;
        padding-left: $spacing;
      }
    }

    &.layout-static {
      .layout-main-container {
        margin-left: calc($menuWidth + $spacing);
      }
      &.layout-static-inactive {
        .layout-main-container {
          padding-left: $spacing;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .layout-wrapper {
    .layout-main-container {
      padding-left: $spacing;
    }
  }
}
