<nav class="navbar navbar-expand-md navbar-light bg-transparent shadow-sm">
  <div class="container-fluid">
    <app-brand brandName='{{getProjectTitle()}}'></app-brand>
    <button
      class="navbar-toggler"
      type="button"
      (click)='isMenuCollapsed = !isMenuCollapsed'>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]='isMenuCollapsed'
         class="collapse navbar-collapse"
         id="navbarSupportedContent">
      <ul class='navbar-nav me-auto'>
        <app-modules *ngIf='isUserSigned'></app-modules>
      </ul>
      <ul class='navbar-nav d-flex align-items-center flex-row'>
        <app-messages *ngIf='isUserSigned'></app-messages>
        <app-notifications *ngIf='isUserSigned'></app-notifications>
        <app-user *ngIf='isUserSigned'></app-user>
        <app-sign *ngIf='!isUserSigned'></app-sign>
      </ul>
    </div>
  </div>
</nav>
