<nav class="navbar">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h3">{{getProjectTitle()}}</span>
    <div *ngIf="!isProduction()" class="gap-2 d-flex justify-content-end">
      <a *ngIf="!isSignIn()" class="btn btn-success" type="button" routerLink="/auth/login">
        <fa-icon [icon]="['fas', 'right-to-bracket']" class='fa-xl me-2'></fa-icon>
        Авторизация
      </a>
      <a *ngIf="!isSignIn()" class="btn btn-primary" type="button" routerLink="/auth/sign-up">
        <fa-icon [icon]="['fas', 'user-plus']" class='fa-xl me-2'></fa-icon>
        Регистрация
      </a>
      <button *ngIf="isSignIn()" class="btn btn-danger" type="button" (click)="logout()">
        <fa-icon [icon]="['fas', 'right-from-bracket']" class='fa-xl me-2'></fa-icon>
        Выход
      </button>
    </div>
  </div>
</nav>

<div class="flex-center">
  <div class="content" role="main">
    <div class="title">Часто используемые ресурсы</div>
    <div class="card-container">
      <button class="card card-small" tabindex="0" *ngFor="let link of getLinks()" (click)="showLink(link.website)">
        <span>{{link.name}}</span>
      </button>
    </div>
  </div>
</div>
