<app-navbar></app-navbar>
<div class="flex-center">
  <div class="content" role="main">
    <div class="title">Часто используемые ресурсы</div>
    <app-datepicker [dateValue]="invoiceDate" (changed)="onDateChanged($event)"></app-datepicker>
    <div class="card-container">
      <button
        *ngFor="let link of getLinks()"
        class="card card-small"
        tabindex="0"
        placement='bottom'
        (click)="showLink(link.website)"
        ngbTooltip="{{link.desc? link.desc: link.name}}"
        [openDelay]="500"
      >
        <span>{{link.name}}</span>
      </button>
    </div>
  </div>
</div>
