<div class='card'>
  <div class='flex justify-content-between mb-5'>
    <div class='flex text-lg'>Сортировка изданий принятых по подписке согласно ДУ.</div>
    <div class='flex justify-content-end text-600 text-sm'>COM11</div>
  </div>
  <div class='grid align-items-center'>
    <div class='ml-2 mb-2 w-10rem'>
      <p-calendar
        [(ngModel)]='selectedDate'
        [showIcon]='true'
        [showButtonBar]='true'
        [selectOtherMonths]='true'
        (onClose)='changeInvoiceDate()'
      ></p-calendar>
    </div>
    <div class='ml-2 mb-2'>
      <input
        class='w-12rem'
        type='text'
        pInputText
        placeholder='Штрихкод издания'
        [(ngModel)]='selectedBarcode'
        (change)='changeBarcode()'>
    </div>
    <div class='ml-2 mb-2'>
      <p-dropdown
        [options]='items'
        [(ngModel)]='selectedItem'
        [filter]='true'
        filterBy='indizd,naimen'
        [resetFilterOnHide]='true'
        placeholder='Выберите издание самостоятельно'
        [showClear]='true'
        (onChange)='changeCurrentItem()'
        (onClear)='clearCurrentItem()'
      >
        <ng-template pTemplate='selectedItem'>
          <div *ngIf='selectedItem'>
            <div>{{selectedItem.indizd}} - {{selectedItem.naimen.slice(0,50)}} №{{selectedItem.nom_izd}}</div>
          </div>
        </ng-template>
        <ng-template let-prihod pTemplate='item'>
          <div>{{prihod.indizd}} - {{prihod.naimen.slice(0,50)}} №{{prihod.nom_izd}}</div>
        </ng-template>
      </p-dropdown>
    </div>
    <div class='ml-2 mb-2' *ngIf='selectedItem'>Экз.: {{selectedItem.nom_count}}</div>
  </div>
  <div class='mt-2 p-3 border-round border-bluegray-700 border-1' *ngIf='selectedItem'>
    <div class='flex flex-row flex-wrap justify-content-center card-container gap-3'>
      <div *ngFor='let cell of cells' class='surface-card shadow-2 p-3 border-round'>
        <div class='flex justify-content-between'>
          <div>
            <span class='block text-900 font-medium mb-1'>{{cell.zipcode}}</span>
            <span class='block text-600 mb-2'>{{cell.naim_ops}}</span>
            <span class='text-500'>Ячейка №:</span>
            <span class='text-green-500 font-medium ml-1'>{{cell.cell}}</span>
          </div>
          <div class='flex align-items-center justify-content-center bg-blue-100 border-round ml-2'>
            <span class='text-5xl font-medium px-4'>{{cell.nom_count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
