<div class='grid'>
  <div class='col-12'>
    <div class='card'>
      <h4>Подписка: Сортировка</h4>
      <div class='surface-100 py-4'>
        <div class='flex flex-row flex-wrap justify-content-center card-container gap-3'>
          <div class='surface-card shadow-2 p-3 border-round'>
            <div class='flex justify-content-between'>
              <div>
                <span class='block text-900 font-medium mb-1'>230025</span>
                <span class='block text-600 mb-2'>Гродно - 25</span>
                <span class='text-500'>Ячейка №:</span>
                <span class='text-green-500 font-medium ml-1'>24</span>
              </div>
              <div class='flex align-items-center justify-content-center bg-blue-100 border-round ml-2'>
                <span class='text-5xl font-medium px-4'>555</span>
              </div>
            </div>
          </div>
          <div class='surface-card shadow-2 p-3 border-round'>
            <div class='flex justify-content-between'>
              <div>
                <span class='block text-900 font-medium mb-1'>230025</span>
                <span class='block text-600 mb-2'>Гродненское ОПС - 25</span>
                <span class='text-500'>Ячейка №:</span>
                <span class='text-green-500 font-medium ml-1'>24</span>
              </div>
              <div class='flex align-items-center justify-content-center bg-blue-100 border-round ml-3'>
                <span class='text-5xl font-medium px-4'>555</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
