<div class='card'>
  <div class='grid align-items-center'>
    <div class='col text-lg'>Сортировка изданий принятых по подписке согласно ДУ.</div>
    <div *ngIf='digitsExist' class='col-fixed text-600 text-sm'>Табло</div>
  </div>
  <div class='grid'>
    <div class='col-fixed w-10rem'>
      <p-calendar
        [(ngModel)]='selectedDate'
        [showIcon]='true'
        [showButtonBar]='true'
        [selectOtherMonths]='true'
        (onClose)='changeInvoiceDate()'
      ></p-calendar>
    </div>
    <div class='col-fixed'>
      <input
        #barcode
        type='text'
        pInputText
        placeholder='Штрихкод издания'
        autofocus
        [(ngModel)]='selectedBarcode'
        [disabled]='items.length == 0'
        (change)='changeBarcode()'>
    </div>
    <div class='col'>
      <p-dropdown
        [style]="{'width': '23rem', overflow: 'visible' }"
        [ngStyle]="{width: 'min-content'}"
        [panelStyle]="{width: '22rem'}"
        [options]='items'
        [(ngModel)]='selectedItem'
        [filter]='true'
        filterBy='indizd,naimen'
        [resetFilterOnHide]='true'
        placeholder='Выберите издание самостоятельно'
        [showClear]='true'
        [disabled]='items.length == 0'
        (onHide)='changeCurrentItem()'
        (onClear)='clearCurrentItem(); barcode.focus()'
      >
        <ng-template pTemplate='selectedItem'>
          <div *ngIf='selectedItem'>
            <div>{{selectedItem.indizd}} - №{{selectedItem.nom_izd}} ({{selectedItem.barcode}})</div>
          </div>
        </ng-template>
        <ng-template let-prihod pTemplate='item'>
          <div class='font-medium'>{{prihod.naimen}}</div>
          <div class='text-500'>
            Индекс: <span class='text-green-400'>{{prihod.indizd}}</span>
            Номер: <span class='text-indigo-400'>{{prihod.nom_izd}}</span>
            Количество: <span class='text-blue-400'>{{prihod.nom_count}}</span>
          </div>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div
    *ngIf='selectedItem'
    class='py-2 info-line font-medium text-2xl'
  >{{selectedItem.indizd}} - {{selectedItem.naimen}} №{{selectedItem.nom_izd}}, поступило: {{selectedItem.nom_count}}
  </div>
  <div class='mt-2 p-3 border-round border-bluegray-700 border-1'>
    <div class='flex flex-row flex-wrap justify-content-center card-container gap-3'>
      <div *ngIf='barcodeNotFound' class='text-pink-900'>Издание с таким штрихкодом не найдено. Попробуйте выбрать его самостоятельно.</div>
      <div *ngIf='items.length == 0' class='text-pink-900'>За указанную дату изданий не найдено. Попробуйте выбрать другую дату.</div>
      <div *ngIf='selectedItem && cells.length == 0' class='text-pink-900'>По указанному изданию нет данных для сортировки.</div>
      <div *ngFor='let cell of cells' class='surface-card shadow-2 p-3 border-round'>
        <div class='flex justify-content-between'>
          <div>
            <span class='block text-900 font-medium mb-1'>{{cell.zipcode}}</span>
            <span class='block text-600 mb-2'>{{cell.naim_ops}}</span>
            <span class='text-500'>Ячейка №:</span>
            <span class='text-green-500 font-medium ml-1'>{{cell.cell}}</span>
          </div>
          <div class='flex align-items-center justify-content-center bg-blue-100 border-round ml-2'>
            <span class='text-5xl font-medium px-4'>{{cell.nom_count}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
