<p-dialog
  [(visible)]=visible
  (visibleChange)=onVisibleChange($event)
  [style]="{width: '60%'}"
  [modal]=true
  class='p-fluid'
  header='Просмотр пользователя'
>
  <avs-loading *ngIf='(isLoading$ | async)'></avs-loading>
  <ng-container *ngIf='!(isLoading$ | async)'>
    <app-user-form
      [initialValues]=item
      [isReadOnly]=true
    ></app-user-form>
  </ng-container>
  <p-footer>
    <div
      *ngIf='!(isLoading$ | async)'
      class='flex justify-content-between'
    >
      <p-checkbox
        class='align-content-start'
        label='Активная'
        [ngModel]=item.status
        [binary]=true
        [trueValue]=1
        [falseValue]=0
        [readonly]=true
      ></p-checkbox>
      <div>
        <button
          pButton label='Закрыть' icon='pi pi-times'
          class='p-button-outlined p-button-secondary'
          (click)=onVisibleChange(false)
        ></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
