<div class='card mb-0'>
  <p-table
    #dt
    dataKey='id'
    responsiveLayout='stack'
    styleClass='p-datatable-sm p-datatable-gridlines'
    [columns]='cols'
    [value]='items'
    [resizableColumns]='true'
    [lazy]='true'
    (onLazyLoad)='loadItems($event)'
    [paginator]='true'
    [rows]=15
    [showCurrentPageReport]='true'
    [loading]='loading'
    [totalRecords]='totalRecords'
    [rowsPerPageOptions]=rowsPerPageOptions
    currentPageReportTemplate='Записи с {first} по {last} из {totalRecords}'
    [globalFilterFields]="['name']"
    sortField='id'
    [sortOrder]=1
  >
    <ng-template pTemplate='caption'>
      <div class='flex align-items-center justify-content-between'>
        <button
          pButton
          label='Создать'
          icon='pi pi-plus'
          class='p-button-success mr-2'
          [disabled]='!userCRUD.create'
          (click)='appendItem()'></button>
        <span
          class='p-input-icon-left'
          [class.p-input-icon-right]='filter.value'>
              <i class='pi pi-search'></i>
              <input
                #filter
                pInputText
                type='text'
                (input)='onGlobalFilter(dt, $event)'
                placeholder='Поиск...' />
              <i
                *ngIf='filter.value'
                class='pi pi-times-circle'
                style='cursor: pointer'
                (click)="filter.value = ''; clearSearch(dt)"></i>
            </span>
      </div>
    </ng-template>
    <ng-template pTemplate='header' let-columns>
      <tr>
        <th
          *ngFor='let col of columns'
          pResizableColumn
          [pSortableColumn]='col.field'
          [ngClass]='col.width'>
          {{col.header}}
          <p-sortIcon [field]='col.field'></p-sortIcon>
        </th>
        <th class='w-4rem'>Статус</th>
        <th class='w-9rem'>Операции</th>
      </tr>
    </ng-template>
    <ng-template pTemplate='body' let-rowData let-columns='columns'>
      <tr>
        <td *ngFor='let col of columns' style='white-space: normal'>
          <span class='p-column-title'>{{col.header}}</span>
          {{rowData[col.field]}}
        </td>
        <td class='text-center'>
          <span class='p-column-title'>Статус</span>
          <avs-status
            [status]="rowData['status']"
          ></avs-status>
        </td>
        <td class='text-center'>
          <span class='p-column-title'>Операции</span>
          <avs-action
            [userCRUD]='userCRUD'
            (clickRead)='viewItem(rowData)'
            (clickUpdate)='editItem(rowData)'
            (clickDelete)='deleteItem(rowData)'>
          </avs-action>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate='emptymessage'>
      <tr>
        <td colspan='7' class='text-center'>Нет данных для отображения</td>
      </tr>
    </ng-template>
    <ng-template pTemplate='paginatorleft'>
      <p-button
        type='button'
        icon='pi pi-refresh'
        styleClass='p-button-text'
        pTooltip='Обновить' tooltipPosition='right' [showDelay]=250
        (click)='clearSearch(dt)'>
      </p-button>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]='itemDialog' [style]="{width: '450px'}" header='Информация о разрешении' [modal]='true'
          class='p-fluid'>
  <ng-template pTemplate='content'>
    <div class='field'>
      <label for='name'>Наименование</label>
      <input
        id='name'
        type='text'
        pInputText
        [(ngModel)]='item.name'
        [maxLength]=50
        [readonly]='itemDialogView'
        [pAutoFocus]='true'
        [ngClass]="{'ng-invalid ng-dirty': submitted && !item.name}">
      <small class='p-error block' *ngIf='submitted && !item.name'>Обязательное поле</small>
    </div>
    <div class='field'>
      <label for='comment'>Описание</label>
      <textarea
        id='comment'
        pInputTextarea
        [(ngModel)]='item.comment'
        [maxLength]=150
        [readonly]='itemDialogView'
        rows='3'
        cols='20'>
          </textarea>
    </div>
  </ng-template>
  <ng-template pTemplate='footer'>
    <div class='flex justify-content-between'>
      <p-checkbox
        class='align-content-start'
        label='Активная'
        [(ngModel)]='item.status'
        [readonly]='itemDialogView'
        [binary]='true'
        [trueValue]='1'
        [falseValue]='0'></p-checkbox>
      <div>
        <button pButton [label]="itemDialogView? 'Закрыть': 'Отмена'" icon='pi pi-times'
                class='p-button-text p-button-secondary' (click)='hideDialog()'></button>
        <button *ngIf='!itemDialogView' pButton label='Сохранить' icon='pi pi-check'
                class='p-button-text p-button-success' (click)='saveItem()'></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]='itemDialogDelete' header='Подтверждение' [modal]='true' [style]="{width: '450px'}">
  <div class='flex align-items-center justify-content-center'>
    <i class='pi pi-exclamation-triangle mr-3' style='font-size: 2rem'></i>
    <span *ngIf='item'>Вы действительно хотите удалить: <b>{{item.name}}</b></span>
  </div>
  <ng-template pTemplate='footer'>
    <button pButton label='Нет' icon='pi pi-times' class='p-button-text p-button-info'
            (click)='itemDialogDelete = false'></button>
    <button pButton label='Да' icon='pi pi-check' class='p-button-text p-button-danger'
            (click)='confirmDelete()'></button>
  </ng-template>
</p-dialog>
