<p-dialog
  [(visible)]=visible
  (visibleChange)=onVisibleChange($event)
  [style]="{width: '60%'}"
  [header]=header
  [modal]=true
  class='p-fluid'
>
<!--  <ng-template appForm></ng-template>-->
  <ng-template #dynamic></ng-template>
</p-dialog>


<!--<ng-template pTemplate='content'>-->
<!--  <ng-content></ng-content>-->
<!--</ng-template>-->
<!--<ng-template pTemplate='footer'>-->
<!--  <div class='flex justify-content-between'>-->
<!--    <p-checkbox-->
<!--      class='align-content-start'-->
<!--      label='Активная'-->
<!--      [(ngModel)]=status-->
<!--      (ngModelChange)=onStatusChange($event)-->
<!--      [readonly]=actionRead-->
<!--      [binary]=true-->
<!--      [trueValue]=1-->
<!--      [falseValue]=0-->
<!--    ></p-checkbox>-->
<!--    <div>-->
<!--      <button pButton [label]="actionRead? 'Закрыть': 'Отмена'" icon='pi pi-times'-->
<!--              class='p-button-text p-button-secondary' (click)=hideDialog()></button>-->
<!--      <button *ngIf='!actionRead' pButton label='Сохранить' icon='pi pi-check'-->
<!--              class='p-button-text p-button-success' (click)=saveItem()></button>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
