<div class='surface-0 flex align-items-start justify-content-center min-h-screen min-w-screen overflow-hidden'>
  <div class='grid justify-content-center pt-4' style='min-width:80%'>
    <div class='col-12 text-center mb-2'>
      <p-button styleClass='p-button-text p-button-plain' routerLink='/'>
        <img src='assets/img/project.png' alt='Logo' style='width: 2rem' />
        <span class='ml-2 text-2xl'>{{projectTitle}}</span>
      </p-button>
    </div>
    <div class='col-11 md:col-10 lg:col-8 xl:col-6'
         style='border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);'>
      <div class='h-full w-full m-0 py-5 px-2'
           style='border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));'>
        <div class='text-center mb-5'>
          <div class='text-900 text-3xl font-medium mb-3'>Добро пожаловать!</div>
          <span class='text-600 font-medium'>Заполните учетные данные.</span>
        </div>
        <div class='w-11 lg:w-10 mx-auto'>
          <form
            [formGroup]=signUpForm
            (ngSubmit)=submitSignUp()>
            <div class='field'>
              <label for='username' class='block text-900 text-xl font-medium'>Пользователь</label>
              <input
                formControlName='username'
                id='username'
                type='text'
                placeholder='Имя пользователя'
                pInputText
                class='w-full text-xl'>
              <ng-container
                *ngIf="(f['username'].dirty || f['username'].touched) && f['username'].invalid">
                <app-validate-input [errors]="f['username'].errors"></app-validate-input>
              </ng-container>
            </div>
            <div class='field'>
              <label for='email' class='block text-900 text-xl font-medium'>E-Mail</label>
              <input
                formControlName='email'
                id='email'
                placeholder='Адрес электронной почты'
                pInputText
                class='w-full text-xl'>
              <ng-container *ngIf="(f['email'].dirty || f['email'].touched) && f['email'].invalid">
                <app-validate-input [errors]="f['email'].errors"></app-validate-input>
              </ng-container>
            </div>
            <div class='field'>
              <label for='password' class='block text-900 font-medium text-xl'>Пароль</label>
              <p-password
                formControlName='password'
                id='password'
                placeholder='Пароль'
                [toggleMask]=true
                styleClass='w-full justify-content-end'
                inputStyleClass='w-full text-xl'
              >
              </p-password>
              <ng-container
                *ngIf="(f['password'].dirty || f['password'].touched) && f['password'].invalid">
                <app-validate-input [errors]="f['password'].errors"></app-validate-input>
              </ng-container>
            </div>
            <div class='field'>
              <label for='password2' class='block text-900 font-medium text-xl'>Пароль еще раз</label>
              <p-password
                formControlName='password2'
                id='password2'
                placeholder='Пароль'
                [toggleMask]=true
                [feedback]=false
                styleClass='w-full justify-content-end'
                inputStyleClass='w-full text-xl'
              >
              </p-password>
              <ng-container
                *ngIf="(f['password2'].dirty || f['password2'].touched) && f['password2'].invalid">
                <app-validate-input [errors]="f['password2'].errors"></app-validate-input>
              </ng-container>
            </div>
            <button
              [disabled]='signUpForm.invalid || (isSubmitting$ | async)'
              pButton
              label='Зарегистрироваться'
              class='w-full text-xl mt-3'
            ></button>
          </form>
          <div class='flex justify-content-between mt-3'>
            <p-button
              routerLink='/auth/sign-in'
              label='Уже зарегистрированы?'
              styleClass='p-button-text p-button-success text-xl'>
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
