<div class='layout-wrapper' [ngClass]='containerClass'>
  <app-topbar></app-topbar>
  <p-progressBar
    *ngIf='false'
    mode="indeterminate"
    [style]="{'height': '3px'}"
  >
  </p-progressBar>
  <div *ngIf='isSignedIn$ | async' class='layout-sidebar'>
    <app-sidebar [menuType]='menuType'></app-sidebar>
  </div>
  <div class='layout-main-container'>
    <div class='layout-main'>
      <div class='grid'>
        <div class='col-12'>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <app-footer *ngIf='isAnonymous$ | async'></app-footer>
  </div>
  <!--    <app-config></app-config>-->
  <div class='layout-mask'></div>
</div>
