<div class='card'>
  <div class='grid'>
    <div class='col-12 lg:col-4 xl:col-3'>
      <h4>Разделы</h4>
      <p-tree
        [value]=categories
        [filter]=true
        filterMode='strict'
        selectionMode='single'
        [(selection)]=selectedCategory
        [draggableNodes]=false
        draggableScope='self'
        [droppableNodes]=false
        droppableScope='self'
        scrollHeight='calc(100vh - 18.5rem)'
        (onNodeSelect)='nodeSelect()'
      >
        <ng-template pTemplate='header'>
          <div class='flex align-items-center justify-content-between'>
            <p-button
              type='button'
              icon='pi pi-refresh'
              styleClass='p-button-text'
              pTooltip='Обновить'
              tooltipPosition='right'
              [showDelay]=250
              (click)=refreshItems()>
            </p-button>
            <span class='p-buttonset'>
            <button
              class='p-button-text'
              pButton
              pTooltip='Развернуть'
              tooltipPosition='left'
              icon='pi pi-arrow-circle-down'
              (click)='expandAll()'
            ></button>
            <button
              class='p-button-text'
              pButton
              pTooltip='Свернуть'
              tooltipPosition='left'
              icon='pi pi-arrow-circle-up'
              (click)='collapseAll()'
            ></button>
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate='empty'>
          Нет данных для отображения
        </ng-template>
      </p-tree>
    </div>
    <div class='col-12 lg:col-8 xl:col-9' *ngIf='selectedCategory'>
      <h4>Раздел: {{selectedCategory.label}}</h4>
      <p-dataView
        #dv
        [value]=files.items
        [lazy]=true
        (onLazyLoad)=getFilesOfCategory($event)
        [loading]='(isLoading$ | async)!'
        [totalRecords]=files.count
        [first]=files.first
        [paginator]=true
        [rows]=rowsPerPageCount
        [rowsPerPageOptions]=rowsPerPageOptions
        [showCurrentPageReport]=false
        filterBy='file_name'
        [sortField]=sortField
        [sortOrder]=sortOrder
        currentPageReportTemplate='Записи с {first} по {last} из {totalRecords}'
        paginatorPosition='bottom'
        layout='grid'
      >
        <ng-template pTemplate='header'>
          <div
            class='flex flex-row align-items-center justify-content-between'>
            <p-button
              *ngIf='canUpload$ | async'
              label='Загрузить'
              icon='pi pi-cloud-upload'
              (onClick)='uploadDialog = !uploadDialog'
            ></p-button>
            <span
              class='p-input-icon-right'>
              <i class='pi pi-search'></i>
              <input
                type='search'
                pInputText
                placeholder='Поиск'
                (input)='onFilter($event)'>
              </span>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </ng-template>
        <ng-template let-file pTemplate='listItem'>
          <div class='col-12'>
            <div class='flex flex-row flex-wrap justify-content-between align-items-center'>
              <div class='col-fixed p-0'>
                <i class='{{file.file_type | mimeIcon}} m-1 text-5xl'></i>
              </div>
              <div class='col p-0'>
                <div class='text-lg'>
                  <div class='line-clamp-1'>
                    {{file.file_desc ? file.file_desc : file.file_name}}
                  </div>
                  <div class='flex justify-content-between font-light'>
                    <span class='text-sm'>Загружен: {{file.dt_cr | date:'d.MM.YYYY H:mm'}} ({{file.username}})</span>
                    <span class='text-sm ml-1'>Размер: {{file.file_size | filesize}}</span>
                  </div>
                </div>
              </div>
              <div class='col-fixed p-0'>
                <p-button
                  icon='pi pi-cloud-download'
                  iconPos='top'
                  styleClass='p-button-success m-1 w-4rem'
                  [badge]='file.downloads'
                  badgeClass='p-badge-warning'
                  pTooltip='Скачать'
                  tooltipPosition='left'
                  [showDelay]='1000'
                  (onClick)='downloadFile(file.file_uuid, file.file_name)'
                ></p-button>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template let-file pTemplate='gridItem'>
          <div class='col-12 md:col-6 xl:col-4'>
            <div class='card m-1 p-1 flex flex-row flex-wrap justify-content-between'>
              <div class='col-fixed pb-0'>
                <i class='{{file.file_type | mimeIcon}} text-5xl'></i>
              </div>
              <div class='col pl-0 pt-1 pb-0 overflow-hidden'>
                <div class='line-clamp-2'>
                  {{file.file_desc ? file.file_desc : file.file_name}}
                </div>
              </div>
              <div class='col-fixed pb-0 text-right'>
                <p-button
                  icon='pi pi-cloud-download'
                  iconPos='top'
                  styleClass='p-button-success w-4rem'
                  [badge]='file.downloads'
                  badgeClass='p-badge-warning'
                  pTooltip='Скачать'
                  tooltipPosition='left'
                  [showDelay]='1000'
                  (onClick)='downloadFile(file.file_uuid, file.file_name)'
                ></p-button>
              </div>
              <div class='col-12 flex flex-row flex-wrap justify-content-between py-1 text-sm'>
                <div class='white-space-nowrap overflow-hidden text-overflow-ellipsis'>
                  Загружен: <span class='font-light'>{{file.dt_cr | date:'d.MM.YYYY H:mm'}}</span>
                  ({{file.username}})
                </div>
                <div>{{file.file_size | filesize}}</div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate='paginatorleft'>
          <div>
            <p-dropdown
              [options]=sortOptions
              [(ngModel)]='sortKey'
              placeholder='Сортировка по имени'
              (onChange)='onSortChange($event)'>
            </p-dropdown>
          </div>
        </ng-template>
      </p-dataView>
      <app-upload-file
        [visible]=uploadDialog
        (visibleChange)='uploadDialog = false'
        (uploaded)='uploadResult($event)'
        [category]=selectedCategory.key!
      ></app-upload-file>
    </div>
  </div>
</div>
