<div class='card'>
  <div class='grid'>
    <div class='col-12 lg:col-4 xl:col-3'>
      <h4>Разделы</h4>
      <p-tree
        [value]=categories
        [filter]=true
        filterMode='strict'
        selectionMode='single'
        [(selection)]=selectedCategory
        [draggableNodes]=true
        draggableScope='self'
        [droppableNodes]=true
        droppableScope='self'
        (onNodeDrop)=showItems($event)
        (onNodeSelect)='nodeSelect()'
      >
        <ng-template pTemplate='header'>
          <div class='flex align-items-center justify-content-between'>
            <p-button
              type='button'
              icon='pi pi-refresh'
              styleClass='p-button-text'
              pTooltip='Обновить'
              tooltipPosition='right'
              [showDelay]=250
              (click)=refreshItems()>
            </p-button>
            <span class='p-buttonset'>
            <button
              class='p-button-text'
              pButton
              pTooltip='Развернуть'
              icon='pi pi-arrow-circle-down'
              (click)='expandAll()'
            ></button>
            <button
              class='p-button-text'
              pButton
              pTooltip='Свернуть'
              icon='pi pi-arrow-circle-up'
              (click)='collapseAll()'
            ></button>
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate='empty'>
          Нет данных для отображения
        </ng-template>
      </p-tree>
    </div>
    <div class='col-12 lg:col-8 xl:col-9'>
      <h4>Документы</h4>
      <p-table
        responsiveLayout='stack'
        styleClass='p-datatable-sm p-datatable-gridlines'
        dataKey='id'
        [columns]=columns
        [value]=files
        [totalRecords]=files.length
        [paginator]=true
        [first]=0
        [rows]=rowsPerPageCount
        [rowsPerPageOptions]=rowsPerPageOptions
        [showCurrentPageReport]=true
        currentPageReportTemplate='Записи с {first} по {last} из {totalRecords}'
      >
        <ng-template pTemplate='caption'>
          <div class='flex align-items-center justify-content-between'>
            <button
              pButton
              label='Загрузить'
              icon='pi pi-upload'
              class='p-button-success mr-2'
            >
            </button>
            <span
              class='p-input-icon-left'
            >
              <i class='pi pi-search'></i>
              <input
                pInputText
                type='text'
                placeholder='Поиск...' />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate='header' let-columns>
          <tr>
            <th
              *ngFor='let col of columns'
              pResizableColumn
              [pSortableColumn]=col.field
              [ngClass]=col.width>
              {{col.header}}
              <p-sortIcon [field]='col.field'></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate='body' let-rowData let-columns='columns'>
          <tr>
            <td *ngFor='let col of columns' style='white-space: normal'>
              <span class='p-column-title'>{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate='emptymessage'>
          <tr>
            <td colspan='7' class='text-center'>Нет данных для отображения</td>
          </tr>
        </ng-template>
        <ng-template pTemplate='paginatorleft'>
          <p-button
            type='button'
            icon='pi pi-refresh'
            styleClass='p-button-text'
            pTooltip='Обновить'
            tooltipPosition='right'
            [showDelay]=250
            (click)=refreshItems()>
          </p-button>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

