<div class='card'>
  <div class='grid'>
    <div class='col-12 lg:col-4 xl:col-3'>
      <h4>Разделы</h4>
      <p-tree
        [value]=categories
        [filter]=true
        filterMode='strict'
        selectionMode='single'
        [(selection)]=selectedCategory
        [draggableNodes]=true
        draggableScope='self'
        [droppableNodes]=true
        droppableScope='self'
        (onNodeDrop)=showItems($event)
        (onNodeSelect)='nodeSelect()'
      >
        <ng-template pTemplate='header'>
          <div class='flex align-items-center justify-content-between'>
            <p-button
              type='button'
              icon='pi pi-refresh'
              styleClass='p-button-text'
              pTooltip='Обновить'
              tooltipPosition='right'
              [showDelay]=250
              (click)=refreshItems()>
            </p-button>
            <span class='p-buttonset'>
            <button
              class='p-button-text'
              pButton
              pTooltip='Развернуть'
              tooltipPosition='left'
              icon='pi pi-arrow-circle-down'
              (click)='expandAll()'
            ></button>
            <button
              class='p-button-text'
              pButton
              pTooltip='Свернуть'
              tooltipPosition='left'
              icon='pi pi-arrow-circle-up'
              (click)='collapseAll()'
            ></button>
          </span>
          </div>
        </ng-template>
        <ng-template pTemplate='empty'>
          Нет данных для отображения
        </ng-template>
      </p-tree>
    </div>
    <div class='col-12 lg:col-8 xl:col-9'>
      <h4 *ngIf='selectedCategory'>Документы: {{selectedCategory.label}}</h4>
      <p-dataView
        #dv
        [value]='files'
        [paginator]='true'
        [rows]='8'
        filterBy='name'
        [sortField]='sortField'
        [sortOrder]='sortOrder'
        layout='grid'
        emptyMessage='Нет документов для отображения'
      >
        <ng-template pTemplate='header'>
          <div
            class='flex flex-row justify-content-between'>
            <button
              type='button'
              pButton
              label='Загрузить'
              icon='pi pi-cloud-upload'
            ></button>
            <span
              class='p-input-icon-left'>
              <i class='pi pi-search'></i>
              <input
                type='search'
                pInputText
                placeholder='Поиск'
                (input)='onFilter(dv, $event)'>
              </span>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </ng-template>
        <ng-template let-file pTemplate='listItem'>
          <div class='col-12'>
            {{file.name}} {{file.type}} {{file.size}} {{file.loaded}}
            {{file.desc}} {{file.downloads}}
          </div>
        </ng-template>
        <ng-template let-file pTemplate='gridItem'>
          <div class='col-12 md:col-6'>
            <div class='card m-2 flex flex-row flex-wrap justify-content-between'>
              <i class='pi pi-file-word' style='font-size: 4rem'></i>
              <div class='col bg-yellow-200'>
                <div>{{file.name}}</div>
                <div>{{file.desc}}</div>
              </div>
              <div class='ml-2'>
                <p-button
                  icon='pi pi-cloud-download'
                  iconPos='top'
                  styleClass='p-button-success w-5rem'
                  [badge]='file.downloads'
                  badgeClass='p-badge-warning'
                  pTooltip='Скачать'
                  tooltipPosition='left'
                  [showDelay]='1000'
                  (onClick)='downloadFile(file.uuid)'
                ></p-button>
                <div class='text-right'>
                  {{file.size | filesize}}
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate='paginatorLeft'>
          <div>
            <p-dropdown
              [options]='sortOptions'
              placeholder='Сортировка по имени'
              (onChange)='onSortChange($event)'>
            </p-dropdown>
          </div>
        </ng-template>
      </p-dataView>
    </div>
    <div
      *ngIf='false'
      class='col-12'>
      <p-table
        responsiveLayout='stack'
        styleClass='p-datatable-sm p-datatable-gridlines'
        dataKey='id'
        [columns]=columns
        [value]=files
        [totalRecords]=files.length
        [paginator]=true
        [first]=0
        [rows]=rowsPerPageCount
        [rowsPerPageOptions]=rowsPerPageOptions
        [showCurrentPageReport]=true
        currentPageReportTemplate='Записи с {first} по {last} из {totalRecords}'
      >
        <ng-template pTemplate='caption'>
          <div class='flex align-items-center justify-content-between'>
            <button
              pButton
              label='Загрузить'
              icon='pi pi-upload'
              class='p-button-success mr-2'
            >
            </button>
            <span
              class='p-input-icon-left'
            >
              <i class='pi pi-search'></i>
              <input
                pInputText
                type='text'
                placeholder='Поиск...' />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate='header' let-columns>
          <tr>
            <th
              *ngFor='let col of columns'
              pResizableColumn
              [pSortableColumn]=col.field
              [ngClass]=col.width>
              {{col.header}}
              <p-sortIcon [field]='col.field'></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate='body' let-rowData let-columns='columns'>
          <tr>
            <td *ngFor='let col of columns' style='white-space: normal'>
              <span class='p-column-title'>{{col.header}}</span>
              {{rowData[col.field]}}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate='emptymessage'>
          <tr>
            <td colspan='7' class='text-center'>Нет данных для отображения</td>
          </tr>
        </ng-template>
        <ng-template pTemplate='paginatorleft'>
          <p-button
            type='button'
            icon='pi pi-refresh'
            styleClass='p-button-text'
            pTooltip='Обновить'
            tooltipPosition='right'
            [showDelay]=250
            (click)=refreshItems()>
          </p-button>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

