.box {
  margin: auto;
  height: 600px;
  width: 480px;
  position: relative;
}

.err1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 18%;
  top: 4%;
}

.zero {
  font-size: 8rem;
  position:absolute;
  top: 10%;
  left: 39%;
}

.err3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
  position:absolute;
  left: 67%;
  top: 4%;
}

.msg {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.25rem;
  position:absolute;
  left: 5%;
  top: 45%;
  width: 90%;
}

.code {
  text-align: center;
  background-color: aqua;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11rem;
}

p {
  margin-bottom: 0.15rem;
}
