.box {
  margin: auto;
  height: 600px;
  width: 480px;
  position: relative;
}

.msg {
  text-align: center;
  font-size: 1.25rem;
}

.code {
  text-align: center;
  font-size: 11rem;
}

p {
  margin-bottom: 0.15rem;
}
