<div class='card mb-0'>
  <avs-table
    [columns]=columns
    [data]='(roles$ | async)!'
    (onLazyLoad)=loadItems($event)
    [loading]='(isLoading$ | async)!'
    [filterFields]="['code', 'name']"
    [confirmField]=confirmField
    [crudName]=crudName
    [keyField]=keyField
    [sortField]=sortField
    (actionCreate)=createItem()
    (actionRead)=readItem($event)
    (actionUpdate)=updateItem($event)
    (actionDelete)=deleteItem($event)
  ></avs-table>

  <ng-container *ngIf='(dialog$ | async) as dialog'>
    <app-role-create
      *ngIf='dialog.action == 1'
      [visible]=true
      (visibleChange)='hideDialog()'
    ></app-role-create>

    <app-role-read
      *ngIf='dialog.action == 2'
      [visible]=true
      (visibleChange)='hideDialog()'
      [itemId]=dialog.id!
    ></app-role-read>

    <app-role-update
      *ngIf='dialog.action == 3'
      [visible]=true
      (visibleChange)='hideDialog()'
      [itemId]=dialog.id!
    ></app-role-update>

    <app-role-delete
      *ngIf='dialog.action == 4'
      [visible]=true
      (visibleChange)='hideDialog()'
      (clickCancel)='hideDialog()'
      [itemId]=dialog.id!
      [itemInfo]=dialog.confirm!
    ></app-role-delete>
  </ng-container>
</div>
