<div class='card mb-0'>
  <avs-table
    *ngIf='(roles$ | async) as data'
    [columns]='columns'
    [data]=data
    (onLazyLoad)=loadItems($event)
    [filterFields]="['code', 'name']"
    (actionCreate)=createItem()
    (actionRead)=readItem($event)
    (actionUpdate)=updateItem($event)
    (actionDelete)=deleteItem($event)
  ></avs-table>
</div>


<!--<avs-dialog-delete-->
<!--  *ngIf='item'-->
<!--  [(visible)]=deleteVisible-->
<!--  itemInfo='{{item.name}} ({{item.code}})'-->
<!--  (clickConfirm)=confirmDelete(item.id)-->
<!--  (clickCancel)=cancelDelete()-->
<!--&gt;</avs-dialog-delete>-->
