<p-table
  #dt
  [dataKey]=keyField
  responsiveLayout='stack'
  styleClass='p-datatable-sm p-datatable-gridlines'
  [columns]=columns
  [resizableColumns]=true
  [value]=data.items
  [lazy]=true
  (onLazyLoad)=loadItems($event)
  [loading]=loading
  [lazyLoadOnInit]=loadingOnInit
  [totalRecords]=data.count
  [paginator]=true
  [rows]=rowsPerPageCount
  [rowsPerPageOptions]=rowsPerPageOptions
  [showCurrentPageReport]=true
  currentPageReportTemplate='Записи с {first} по {last} из {totalRecords}'
  [filterDelay]=1000
  [globalFilterFields]=filterFields
  [sortField]=sortField
  [sortOrder]=1
>
  <ng-template pTemplate='caption'>
    <div class='flex align-items-center justify-content-between'>
      <button
        pButton
        label='Создать'
        icon='pi pi-plus'
        class='p-button-success mr-2'
        [disabled]=!userCRUD.create
        (click)='createItem()'
      >
      </button>
      <span
        class='p-input-icon-left'
        [class.p-input-icon-right]='filter.value'>
              <i class='pi pi-search'></i>
              <input
                #filter
                pInputText
                type='text'
                (input)='onGlobalFilter(dt, $event)'
                placeholder='Поиск...' />
              <i
                *ngIf='filter.value'
                class='pi pi-times-circle'
                style='cursor: pointer'
                (click)="filter.value = ''; clearSearch(dt)"></i>
            </span>
    </div>
  </ng-template>
  <ng-template pTemplate='header' let-columns>
    <tr>
      <th
        *ngFor='let col of columns'
        pResizableColumn
        [pSortableColumn]=col.field
        [ngClass]=col.width>
        {{col.header}}
        <p-sortIcon [field]='col.field'></p-sortIcon>
      </th>
      <th class='w-4rem'>Статус</th>
      <th class='w-9rem'>Операции</th>
    </tr>
  </ng-template>
  <ng-template pTemplate='body' let-rowData let-columns='columns'>
    <tr>
      <td *ngFor='let col of columns' style='white-space: normal'>
        <span class='p-column-title'>{{col.header}}</span>
        {{rowData[col.field]}}
      </td>
      <td class='text-center'>
        <span class='p-column-title'>Статус</span>
        <avs-table-columns-status
          [status]="rowData['status']"
        ></avs-table-columns-status>
      </td>
      <td class='text-center'>
        <span class='p-column-title'>Операции</span>
        <avs-table-columns-actions
          [userCRUD]=userCRUD
          (clickRead)=readItem(rowData[dt.dataKey])
          (clickUpdate)=updateItem(rowData[dt.dataKey])
          (clickDelete)=deleteItem(rowData)
        >
        </avs-table-columns-actions>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate='emptymessage'>
    <tr>
      <td colspan='7' class='text-center'>Нет данных для отображения</td>
    </tr>
  </ng-template>
  <ng-template pTemplate='paginatorleft'>
    <p-button
      type='button'
      icon='pi pi-refresh'
      styleClass='p-button-text'
      pTooltip='Обновить' tooltipPosition='right' [showDelay]=250
      (click)=clearSearch(dt)>
    </p-button>
  </ng-template>
</p-table>

