<p-dialog
  [(visible)]=visible
  (visibleChange)=onVisibleChange($event)
  [style]="{width: '60%'}"
  [modal]=true
  class='p-fluid'
  header='Изменение ссылки'
>
  <avs-loading *ngIf='(isLoading$ | async)'></avs-loading>
  <avs-validate-errors
    *ngIf='validationErrors$ | async'
    [errors]='validationErrors$ | async'
  ></avs-validate-errors>
  <ng-container *ngIf='(isLoading$ | async) === false'>
    <app-link-form
      *ngIf=item
      [initialValues]=item
      (changeValues)=changeItem($event)
      (formValid)=onValidate($event)
    ></app-link-form>
  </ng-container>
  <p-footer>
    <div
      *ngIf='(isLoading$ | async) === false && item'
      class='flex justify-content-between'>
      <p-checkbox
        label='Активная'
        [(ngModel)]=item.status
        [binary]=true
        (ngModelChange)=changeStatus($event)
      ></p-checkbox>
      <div>
        <button
          pButton label='Отмена' icon='pi pi-times'
          class='p-button-outlined p-button-secondary'
          (click)=onVisibleChange(false)
        ></button>
        <button
          pButton label='Сохранить' icon='pi pi-check'
          class='p-button-outlined p-button-success'
          (click)=saveItem()
        ></button>
      </div>
    </div>
  </p-footer>
</p-dialog>
