<form
  [formGroup]=formUser
  (change)='onChangeValues()'>
  <p-tabView id='tabs'>
    <p-tabPanel header='Основное'>
      <div class='p-fluid grid formgrid'>
        <div class='field col-fixed'>
          <p-avatar
            image='assets/img/avatars/default.png'
            size='xlarge'
            shape='circle'>
          </p-avatar>
        </div>
        <div class='field col-5'>
          <label for='username'>Имя пользователя</label>
          <input
            id='username'
            type='text'
            pInputText
            formControlName='username'
            [readonly]='crudAction === 2'
          >
          <ng-container
            *ngIf="(f['username'].dirty || f['username'].touched) && f['username'].invalid">
            <avs-validate-input [errors]="f['username'].errors"></avs-validate-input>
          </ng-container>
        </div>
        <div class='field col'>
          <label for='email'>Электронная почта</label>
          <input
            id='email'
            type='text'
            pInputText
            formControlName='email'
            [readonly]='crudAction === 2'
          >
          <ng-container
            *ngIf="(f['email'].dirty || f['email'].touched) && f['email'].invalid">
            <avs-validate-input [errors]="f['email'].errors"></avs-validate-input>
          </ng-container>
        </div>
      </div>
      <div class='p-fluid grid formgrid' *ngIf='crudAction === 1'>
        <div class='field col'>
          <label for='password'>Пароль</label>
          <p-password
            formControlName='password'
            id='password'
            placeholder='Пароль'
            [toggleMask]='true'
          >
          </p-password>
          <ng-container
            *ngIf="(f['password'].dirty || f['password'].touched) && f['password'].invalid">
            <avs-validate-input [errors]="f['password'].errors"></avs-validate-input>
          </ng-container>
        </div>
        <div class='field col'>
          <label for='password2'>Пароль еще раз</label>
          <p-password
            formControlName='password2'
            id='password2'
            placeholder='Пароль'
            [toggleMask]='true'
            [feedback]='false'
          >
          </p-password>
          <ng-container
            *ngIf="(f['password2'].dirty || f['password2'].touched) && f['password2'].invalid">
            <avs-validate-input [errors]="f['password2'].errors"></avs-validate-input>
          </ng-container>
        </div>
      </div>
      <div
        class='field'
        *ngIf='false'
      >
        <div class='field col'>
          <p-fileUpload
            name='files'
            url='/api/v1/storage/files/uploads'
            [multiple]='true'
          ></p-fileUpload>
        </div>
      </div>
      <div class='field'>
        <!--    <label for='tabs'>Дополнительные параметры</label>-->
      </div>
      <div class='field'>
        <label for='comment'>Описание</label>
        <textarea
          id='comment'
          pInputTextarea
          rows='2'
          cols='20'
          formControlName='comment'
          [readonly]='crudAction === 2'>
          </textarea>
        <ng-container
          *ngIf="(f['comment'].dirty || f['comment'].touched) && f['comment'].invalid">
          <avs-validate-input [errors]="f['comment'].errors"></avs-validate-input>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel
      header='Дополнительно'
    >
      <div class='field'>
        <label for='sd_id'>Код подразделения</label>
        <p-dropdown
          id='sd_id'
          formControlName='sd_id'
          [options]=subdivisions
          [readonly]='crudAction === 2'
          (ngModelChange)='onChangeValues()'
        >
        </p-dropdown>
        <ng-container
          *ngIf="(f['sd_id'].dirty || f['sd_id'].touched) && f['sd_id'].invalid">
          <avs-validate-input [errors]="f['sd_id'].errors"></avs-validate-input>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header='Роли'>
      <p-pickList
        [source]=sourceRoles
        [sourceStyle]="{'height':'12rem'}"
        [showSourceControls]=false
        sourceHeader='Доступные'
        sourceFilterPlaceholder='Поиск по имени'
        [target]=targetRoles
        [targetStyle]="{'height':'12rem'}"
        [showTargetControls]=false
        targetHeader='Выбранные'
        targetFilterPlaceholder='Поиск по имени'
        [dragdrop]=false
        [responsive]=true
        filterBy='code,name'
        [stripedRows]=false
        [disabled]='crudAction === 2'
      >
        <ng-template let-role pTemplate='item'>
          <div
            class='text-900 font-medium'
            [ngClass]="{'line-through': role.status === 0}"
          >{{role.code}}-{{role.name}}</div>
          <div class='text-600'>{{role.comment}}</div>
        </ng-template>
      </p-pickList>
    </p-tabPanel>
    <p-tabPanel header='Разрешения'>
      <p-pickList
        [source]=sourcePermissions
        [sourceStyle]="{'height':'10rem'}"
        [showSourceControls]=false
        sourceHeader='Доступные'
        sourceFilterPlaceholder='Поиск по имени'
        [target]=targetPermissions
        [targetStyle]="{'height':'10rem'}"
        [showTargetControls]=false
        targetHeader='Выбранные'
        targetFilterPlaceholder='Поиск по имени'
        [dragdrop]=false
        [responsive]=true
        filterBy='code,name'
        [disabled]='crudAction === 2'
      >
        <ng-template let-permission pTemplate='item'>
          <div
            class='text-900 font-medium'
            [ngClass]="{'line-through': permission.status === 0}"
          >{{permission.code}}-{{permission.name}}</div>
          <div class='text-600'>{{permission.comment}}</div>
        </ng-template>
      </p-pickList>
    </p-tabPanel>
  </p-tabView>
</form>

