<div class='field'>
  <label for='name'>Имя пользователя</label>
  <input
    id='name'
    type='text'
    pInputText
  >
</div>
<div class='field'>
  <label for='name'>Электронная почта</label>
  <input
    id='email'
    type='text'
    pInputText
  >
</div>
<div class='field'>
  <label for='comment'>Описание</label>
  <textarea
    id='comment'
    pInputTextarea
  >
    </textarea>
</div>
<div class='field'>
  <p-checkbox
    label='Активная'
    [binary]=true
    [trueValue]=1
    [falseValue]=0
  >
  </p-checkbox>
</div>
