<form [formGroup]=formPermission
      (change)='onChangeValues()'>
  <div class='field'>
    <label for='code'>Код</label>
    <input
      id='code'
      type='text'
      pInputText
      formControlName='code'
      autofocus
      [readonly]=readOnlyProps
    >
    <ng-container
      *ngIf="(f['code'].dirty || f['code'].touched) && f['code'].invalid">
      <avs-input-validate [errors]="f['code'].errors"></avs-input-validate>
    </ng-container>
  </div>
  <div class='field'>
    <label for='name'>Наименование</label>
    <input
      id='name'
      type='text'
      pInputText
      formControlName='name'
      [readonly]=readOnlyProps
    >
    <ng-container
      *ngIf="(f['name'].dirty || f['name'].touched) && f['name'].invalid">
      <avs-input-validate [errors]="f['name'].errors"></avs-input-validate>
    </ng-container>
  </div>
  <div class='field'>
    <label for='comment'>Описание</label>
    <textarea
      id='comment'
      pInputTextarea
      rows='3'
      cols='20'
      formControlName='comment'
      [readonly]=readOnlyProps>
    </textarea>
    <ng-container
      *ngIf="(f['comment'].dirty || f['comment'].touched) && f['comment'].invalid">
      <avs-input-validate [errors]="f['comment'].errors"></avs-input-validate>
    </ng-container>
  </div>
</form>
