<p-dialog
  [visible]=visible
  (visibleChange)='onVisibleChange($event)'
  header='Подтверждение'
  [modal]=true
  [style]="{width: '450px'}"
>
  <div class='flex align-items-center justify-content-center'>
    <i class='pi pi-exclamation-triangle mr-3' style='font-size: 2rem'></i>
    <span>Вы действительно хотите удалить: <b>{{itemInfo}}</b></span>
  </div>
  <ng-template pTemplate='footer'>
    <button pButton label='Нет' icon='pi pi-times' class='p-button-text p-button-info'
            (click)='cancelDelete()'></button>
    <button pButton label='Да' icon='pi pi-check' class='p-button-text p-button-danger'
            (click)='confirmDelete()'></button>
  </ng-template>
</p-dialog>
