<form [formGroup]=formLink
      (change)='onChangeValues()'>
  <div class='field'>
    <label for='name'>Наименование</label>
    <input
      id='name'
      type='text'
      pInputText
      formControlName='name'
      [readonly]=readOnlyProps
    >
    <ng-container
      *ngIf="(f['name'].dirty || f['name'].touched) && f['name'].invalid">
      <avs-validate-input [errors]="f['name'].errors"></avs-validate-input>
    </ng-container>
  </div>
  <div class='field'>
    <label for='website'>Ссылка на ресурс</label>
    <input
      id='website'
      type='text'
      pInputText
      formControlName='website'
      [readonly]=readOnlyProps
    >
    <ng-container
      *ngIf="(f['website'].dirty || f['website'].touched) && f['website'].invalid">
      <avs-validate-input [errors]="f['website'].errors"></avs-validate-input>
    </ng-container>
  </div>
  <div class='field'>
    <label for='sort'>Очередность отображения</label>
    <p-inputNumber
      id='sort'
      inputId='sort'
      formControlName='sort'
      [min]=0
      [max]=999
      [allowEmpty]=false
      [showButtons]=true
      [readonly]=readOnlyProps
      (ngModelChange)='onChangeValues()'
    >
    </p-inputNumber>
    <ng-container
      *ngIf="(f['sort'].dirty || f['sort'].touched) && f['sort'].invalid">
      <avs-validate-input [errors]="f['sort'].errors"></avs-validate-input>
    </ng-container>
  </div>
  <div class='field'>
    <label for='comment'>Описание</label>
    <textarea
      id='comment'
      pInputTextarea
      rows='3'
      cols='20'
      formControlName='comment'
      [readonly]=readOnlyProps>
    </textarea>
    <ng-container
      *ngIf="(f['comment'].dirty || f['comment'].touched) && f['comment'].invalid">
      <avs-validate-input [errors]="f['comment'].errors"></avs-validate-input>
    </ng-container>
  </div>
</form>
