<div class='card mb-0'>
  <avs-table
    *ngIf='(users$ | async) as data'
    [columns]=columns
    [crudName]=crudName
    [data]=data
    (onLazyLoad)=loadItems($event)
    (actionCreate)=createItem($event)
    (actionRead)=readItem($event)
    (actionUpdate)=updateItem($event)
    (actionDelete)=deleteItem($event)
  ></avs-table>
</div>

<!--<avs-dialog-action-->
<!--  [(visible)]=dialogVisible-->
<!--  (clickCancel)=hideDialog()-->
<!--  [actionRead]=isReadOnly-->
<!--  header='Информация о пользователе'-->
<!--&gt;-->
<!--  <ng-template appForm></ng-template>-->

<!--</avs-dialog-action>-->
<div class="buttons-container">
  <button class="show-btn" (click)="readItem(1)">Show component</button>
  <button class="remove-btn" (click)="hideDialog()">
    Remove component
  </button>
</div>
<ng-template appForm></ng-template>
