<div class='card mb-0'>
  <avs-table
    *ngIf='(users$ | async) as data'
    [columns]=columns
    [crudName]=crudName
    [data]=data
    (onLazyLoad)=loadItems($event)
    (actionCreate)=createItem($event)
    (actionRead)=readItem($event)
    (actionUpdate)=updateItem($event)
    (actionDelete)=deleteItem($event)
  ></avs-table>
</div>

<p-dialog
  [(visible)]=dialogVisible
  [style]="{width: '60%'}"
  header='Информация о пользователе'
  [modal]=true
  class='p-fluid'
>
  <app-form-user
    [initialValues]=currentItem
  ></app-form-user>
</p-dialog>



