<div class='card mb-0'>
  <avs-table
    [columns]=columns
    [data]='(permissions$ | async)!'
    (onLazyLoad)=loadItems($event)
    [loading]='(isLoading$ | async)!'
    [filterFields]="['code', 'name']"
    [confirmField]=confirmField
    [crudName]=crudName
    [keyField]=keyField
    [sortField]=sortField
    (actionCreate)=createItem()
    (actionRead)=readItem($event)
    (actionUpdate)=updateItem($event)
    (actionDelete)=deleteItem($event)
  >
  </avs-table>

  <ng-container
    *ngIf='(dialog$ | async) as dialog'
  >
    <app-permission-create
      *ngIf='dialog.action == 1'
      [visible]=true
      (visibleChange)='hideDialog()'
    ></app-permission-create>

    <app-permission-read
      *ngIf='dialog.action == 2'
      [visible]=true
      (visibleChange)='hideDialog()'
      [itemId]=dialog.id!
    ></app-permission-read>

    <app-permission-update
      *ngIf='dialog.action == 3'
      [visible]=true
      (visibleChange)='hideDialog()'
      [itemId]=dialog.id!
    ></app-permission-update>

    <app-permission-delete
      *ngIf='dialog.action == 4'
      [visible]=true
      (visibleChange)='hideDialog()'
      (clickCancel)='hideDialog()'
      [itemId]=dialog.id!
      [itemInfo]=dialog.confirm!
    ></app-permission-delete>
  </ng-container>

</div>

