<div class='card mb-0'>
  <avs-table
    *ngIf='(permissions$ | async) as data'
    [columns]=columns
    [data]=data
    (onLazyLoad)=loadItems($event)
    [filterFields]="['code', 'name']"
    (actionCreate)=createItem()
    (actionRead)=readItem($event)
    (actionUpdate)=updateItem($event)
    (actionDelete)=deleteItem($event)
  ></avs-table>
</div>

<avs-table-dialog-actions
  [(visible)]=dialogVisible
>
  <div content>
    <app-permission-read></app-permission-read>
  </div>
</avs-table-dialog-actions>

<avs-table-dialog-delete></avs-table-dialog-delete>

<!--<avs-dialog-action-->
<!--  *ngIf='item'-->
<!--  [(visible)]=dialogVisible-->
<!--  [(status)]=item.status-->
<!--  [actionRead]=isActionRead-->
<!--  header='Информация о разрешении'-->
<!--  (clickConfirm)=saveItem()-->
<!--  (clickCancel)=hideDialog()-->
<!--&gt;-->
<!--  <ng-container>-->
<!--    <div class='field'>-->
<!--      <label for='name'>Код</label>-->
<!--      <input-->
<!--        id='code'-->
<!--        type='text'-->
<!--        pInputText-->
<!--        [(ngModel)]='item.code'-->
<!--        [maxLength]=100-->
<!--        [readonly]=isActionRead-->
<!--        autofocus-->
<!--        [ngClass]="{'ng-invalid ng-dirty': submitted && !item.code}">-->
<!--      <small class='p-error block' *ngIf='submitted && !item.code'>Обязательное поле</small>-->
<!--    </div>-->
<!--    <div class='field'>-->
<!--      <label for='name'>Наименование</label>-->
<!--      <input-->
<!--        id='name'-->
<!--        type='text'-->
<!--        pInputText-->
<!--        [(ngModel)]='item.name'-->
<!--        [maxLength]=150-->
<!--        [readonly]=isActionRead-->
<!--        [ngClass]="{'ng-invalid ng-dirty': submitted && !item.name}">-->
<!--      <small class='p-error block' *ngIf='submitted && !item.name'>Обязательное поле</small>-->
<!--    </div>-->
<!--    <div class='field'>-->
<!--      <label for='comment'>Описание</label>-->
<!--      <textarea-->
<!--        id='comment'-->
<!--        pInputTextarea-->
<!--        [(ngModel)]='item.comment'-->
<!--        [maxLength]=200-->
<!--        [readonly]=isActionRead-->
<!--        rows='3'-->
<!--        cols='20'>-->
<!--          </textarea>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--</avs-dialog-action>-->

<!--<avs-dialog-delete-->
<!--  *ngIf='item'-->
<!--  [(visible)]=deleteVisible-->
<!--  itemInfo='{{item.name}} ({{item.code}})'-->
<!--  (clickConfirm)='confirmDelete(item.id)'-->
<!--  (clickCancel)='cancelDelete()'-->
<!--&gt;</avs-dialog-delete>-->
