<div class='layout-topbar'>
  <a class='layout-topbar-logo' routerLink=''>
    <img src='assets/img/project.png' alt='Logo'>
    <span>{{projectTitle}}</span>
  </a>

  <button
    *ngIf='isSignedIn$ | async'
    #menubutton
    class='p-link layout-menu-button layout-topbar-button'
    (click)='layoutService.onMenuToggle()'>
    <i class='pi pi-bars'></i>
  </button>

  <button
    #topbarmenubutton
    class='p-link layout-topbar-menu-button layout-topbar-button'
    (click)='layoutService.showProfileSidebar()'>
    <i class='pi pi-ellipsis-v'></i>
  </button>

  <div
    #topbarmenu
    class='layout-topbar-menu'
    [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <ng-container *ngIf='isSignedIn$ | async'>
      <ng-container *ngIf='production === false'>
        <button
          class='p-link layout-topbar-button'
          pTooltip='Документы'
          tooltipPosition='bottom'
          [routerLink]="'/docs'"
          [showDelay]=1000
        >
          <i class='pi pi-inbox' pBadge severity='info' [value]="'1'"></i>
          <span>Документы</span>
        </button>
        <button
          class='p-link layout-topbar-button'
          pTooltip='Уведомления'
          tooltipPosition='bottom'
          [showDelay]=1000
        >
          <i class='pi pi-bell' pBadge severity='danger' [value]="'10'"></i>
          <span>Уведомления</span>
        </button>
        <button
          class='p-link layout-topbar-button'
          pTooltip='Сообщения'
          tooltipPosition='bottom'
          [showDelay]=1000
        >
          <i class='pi pi-envelope' pBadge severity='info' value='5'></i>
          <span>Сообщения</span>
        </button>
        <p-divider *ngIf='layoutService.state.profileSidebarVisible' layout='horizontal'></p-divider>
        <p-divider *ngIf='!layoutService.state.profileSidebarVisible' layout='vertical'></p-divider>
      </ng-container>
      <button
        class='p-link layout-topbar-button'
        pTooltip='Профиль'
        tooltipPosition='bottom'
        [showDelay]=1000
        (click)='visibleProfile = true'
      >
        <i class='pi pi-user'></i>
        <span>Профиль</span>
      </button>
      <button
        class='p-link layout-topbar-button'
        pTooltip='Админка'
        tooltipPosition='bottom'
        [showDelay]=1000
        [routerLink]="'/admin'">
        <i class='pi pi-cog'></i>
        <span>Админка</span>
      </button>
      <button
        class='p-link layout-topbar-button text-red-300'
        pTooltip='Выход'
        tooltipPosition='bottom'
        [showDelay]='1000'
        (click)='logout()'>
        <i class='pi pi-sign-out'></i>
        <span>Выйти</span>
      </button>
    </ng-container>
    <ng-container *ngIf='(isSignedIn$ | async) === false'>
      <button
        class='p-link layout-topbar-button'
        pTooltip='Авторизация'
        tooltipPosition='bottom'
        [showDelay]=1000
        [routerLink]="'/auth/sign-in'">
        <i class='pi pi-sign-in'></i>
        <span>Войти</span>
      </button>
      <button
        class='p-link layout-topbar-button'
        pTooltip='Регистрация'
        tooltipPosition='bottom'
        [showDelay]=1000
        [routerLink]="'/auth/sign-up'">
        <i class='pi pi-user-plus'></i>
        <span>Регистрация</span>
      </button>
    </ng-container>
  </div>
</div>
<p-sidebar
  [(visible)]="visibleProfile"
  position='right'
  styleClass='p-sidebar-md'
>
  <ng-template pTemplate="header">
   Профиль пользователя
  </ng-template>
  <ng-template pTemplate="content">
    <app-user-profile></app-user-profile>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      label='ОК'
      (click)='visibleProfile = false'
    ></p-button>
    <p-button
      label='Документы'
      [routerLink]="'/docs'"
    ></p-button>
  </ng-template>
</p-sidebar>
