<li ngbDropdown class="nav-item ps-2">
  <a
    class="nav-link"
    id="userDropdown"
    role='button'
    ngbDropdownToggle>
    <img *ngIf="currentUser.id; else noUserAvatar" src="assets/img/avatars/default.png"
         class="rounded-circle user-avatar"
         alt='{{currentUser.avatar}}'/>
    <ng-template #noUserAvatar>
      <fa-icon [icon]="['fas', 'user-circle']" size='2x'></fa-icon>
    </ng-template>
    {{currentUser.name}}
  </a>
  <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
    <li><button ngbDropdownItem class="dropdown-item">Профиль</button></li>
    <li><button ngbDropdownItem class="dropdown-item">Документы</button></li>
    <li><hr class="dropdown-divider"></li>
    <li><button ngbDropdownItem class="dropdown-item" (click)='logout()'>
      <fa-icon [icon]="['fas', 'right-from-bracket']" class='me-2'></fa-icon>
      Завершить сеанс</button></li>
  </ul>
</li>
