      <div class="px-4 py-5 md:px-6 lg:px-8">
        <div class="grid">
          <div class="flex-center">
            <div class="content" role="main">
              <div class="title">Часто используемые ресурсы</div>
              <div class="card-container">
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС ып ывпыв</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТК  вап вапв ывап ыва ыС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
                <button
                  class="card card-small"
                  tabindex="0"
                >
                  <span>ПТКС</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
